body {
  background: black;
  color: lime;
  font-family: monospace;
}
textarea {
  width: 90%;
  background: #111;
  color: #0f0;
}
pre {
  background: #111;
  padding: 10px;
}
button {
  background: lime;
  color: black;
  font-weight: bold;
  margin: 5px;
}